{% load static %}


<html>

    <head>

        <title> register | myapp</title>

        <img src="{% static plot_file_path %}" alt="Plot Image">

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    </head>


    <body>
        <h1>Plotted Graph</h1>
        <img src="{% static plot_file_path %}" alt="Plotted Graph">
    </body>




    

    


    <h1>My register page</h1>  
    
    

    <script src="{% static 'js/app.js' %}"></script>


</html>

